{% extends 'base.html' %}

{% block title %}Контактная информация{% endblock %}

{% block body %}
<div class="container my-5 bg-white bg-opacity-75 p-4 rounded shadow-sm">
  <h1 class="mb-4">Контактная информация</h1>
  <p>Готовы помочь вам выбрать идеальную мебель — свяжитесь с нами!</p>
  <ul class="list-unstyled mb-4">
    <li><strong>Адрес офиса:</strong> ул. Примерная, 10, г. Москва, Россия</li>
    <li><strong>Телефон:</strong><a href="tel:+74951234567"> +7 (495) 123-45-67</a></li>
    <li><strong>Email:</strong> <a href="mailto:example@company.ru">example@company.ru</a></li>
    <li><strong>Режим работы:</strong> Пн–Пт 9:00–18:00, Сб 10:00–16:00, Вс — выходной</li>
  </ul>
  <h2 class="mt-4">Форма обратной связи</h2>
  {% include 'feedback/includes/feedback_form.html' %}
</div>
{% endblock %}
{% block extrajs %}
{% endblock %}